.frame {
    display: flex;
    height: 1352px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    background-color: #ffffff;
    width: 100%;
    min-width: 393px;
  }
  
  .frame .body {
    position: relative;
    width: 390px;
    height: 1352px;
    border: 0px none;
  }
  
  .frame .div {
    position: relative;
    height: 1352px;
    background-color: #f9fafb;
    border: 0px none;
  }
  
  .frame .overlap {
    position: absolute;
    width: 409px;
    height: 1289px;
    top: 0;
    left: 0;
  }
  
  .frame .main {
    position: absolute;
    width: 390px;
    height: 1060px;
    top: 0;
    left: 0;
    border: 0px none;
  }
  
  .frame .overlap-group {
    position: absolute;
    width: 390px;
    height: 292px;
    top: 64px;
    left: 0;
  }
  
  .frame .div-wrapper {
    position: absolute;
    width: 390px;
    height: 60px;
    top: 0;
    left: 0;
    border: 0px none;
  }
  
  .frame .frame-wrapper {
    position: relative;
    width: 358px;
    height: 36px;
    top: 12px;
    left: 16px;
    border: 0px none;
  }
  
  .frame .frame-wrapper-2 {
    display: flex;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
    left: 326px;
  }
  
  .frame .div-2 {
    position: relative;
    width: 16px;
    height: 16px;
    border: 0px none;
  }
  
  .frame .overlap-wrapper {
    position: absolute;
    width: 390px;
    height: 280px;
    top: 12px;
    left: 0;
    border: 0px none;
  }
  
  .frame .overlap-2 {
    position: relative;
    width: 358px;
    height: 244px;
    top: 26px;
    left: 16px;
    border-radius: 12px;
  }
  
  .frame .img-wrapper {
    position: absolute;
    width: 358px;
    height: 244px;
    top: 0;
    left: 0;
    border-radius: 12px;
    overflow: hidden;
    border: 0px none;
  }
  
  .frame .img {
    position: relative;
    height: 255px;
    top: -11px;
    border: 0px none;
    background-image: url(home\ page\ pic.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .img-2 {
    position: relative;
    width: 365px;
    height: 255px;
    top: 10px;
    left: -4px;
    box-shadow: 0px 20px 25px #0000001a;
    border: 0px none;
    background-image: url(home\ page\ pic.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .div-3 {
    position: absolute;
    width: 358px;
    height: 87px;
    top: 157px;
    left: 0;
    border: 0px none;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }
  
  .frame .text-wrapper {
    position: absolute;
    width: 307px;
    top: 16px;
    left: 16px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .shop-now {
    position: absolute;
    width: 94px;
    top: 51px;
    left: 16px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .frame .overlap-group-wrapper {
    position: absolute;
    width: 147px;
    height: 87px;
    top: 169px;
    left: 203px;
    background-color: #eff6ff;
    border-radius: 12px;
    border: 0px none;
  }
  
  .frame .overlap-group-2 {
    position: relative;
    width: 182px;
    height: 48px;
    top: 20px;
    left: -18px;
  }
  
  .frame .i {
    width: 32px;
    top: 2px;
    left: 117px;
    position: absolute;
    height: 42px;
    border: 0px none;
  }
  
  .frame .svg {
    width: 32px;
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2px;
  }
  
  .frame .div-4 {
    position: relative;
    width: 31.5px;
    height: 36px;
    border: 0px none;
  }
  
  .frame .vector {
    position: absolute;
    width: 32px;
    height: 36px;
    top: 0;
    left: 75px;
  }
  
  .frame .h {
    top: 24px;
    position: absolute;
    width: 182px;
    height: 24px;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-2 {
    width: 50px;
    top: 14px;
    left: 67px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
  }
  
  .frame .overlap-3 {
    position: absolute;
    width: 93px;
    height: 19px;
    top: 399px;
    left: 272px;
  }
  
  .frame .vector-2 {
    position: absolute;
    width: 13px;
    height: 12px;
    top: 4px;
    left: 81px;
  }
  
  .frame .text-wrapper-3 {
    position: absolute;
    width: 92px;
    top: 0;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .div-5 {
    position: absolute;
    width: 147px;
    height: 87px;
    top: 555px;
    left: 219px;
    background-color: #fef2f2;
    border-radius: 12px;
    border: 0px none;
  }
  
  .frame .overlap-4 {
    position: relative;
    width: 182px;
    height: 66px;
    top: 18px;
    left: 24px;
  }
  
  .frame .svg-wrapper {
    width: 45px;
    top: 4px;
    left: 69px;
    position: absolute;
    height: 42px;
    border: 0px none;
  }
  
  .frame .svg-2 {
    width: 45px;
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2px;
  }
  
  .frame .div-6 {
    position: relative;
    width: 45px;
    height: 36px;
    border: 0px none;
  }
  
  .frame .vector-3 {
    position: absolute;
    width: 45px;
    height: 36px;
    top: 0;
    left: 27px;
  }
  
  .frame .h-2 {
    top: 42px;
    position: absolute;
    width: 182px;
    height: 24px;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-4 {
    position: absolute;
    width: 94px;
    top: 38px;
    left: 3px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .div-7 {
    position: absolute;
    width: 147px;
    height: 87px;
    top: 428px;
    left: 24px;
    background-color: #f5f3ff;
    border-radius: 12px;
    border: 0px none;
  }
  
  .frame .overlap-5 {
    position: relative;
    width: 182px;
    height: 57px;
    top: 17px;
    left: -17px;
  }
  
  .frame .i-2 {
    width: 45px;
    top: 6px;
    left: 110px;
    position: absolute;
    height: 42px;
    border: 0px none;
  }
  
  .frame .vector-4 {
    position: absolute;
    width: 45px;
    height: 36px;
    top: 0;
    left: 68px;
  }
  
  .frame .h-3 {
    top: 33px;
    position: absolute;
    width: 182px;
    height: 24px;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-5 {
    position: absolute;
    width: 104px;
    top: 5px;
    left: 39px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-6 {
    position: absolute;
    width: 129px;
    top: 379px;
    left: 16px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 18px;
  }
  
  .frame .div-8 {
    position: absolute;
    width: 147px;
    height: 87px;
    top: 555px;
    left: 24px;
    background-color: #ecfdf5;
    border-radius: 12px;
    border: 0px none;
  }
  
  .frame .overlap-6 {
    position: relative;
    width: 182px;
    height: 67px;
    top: 17px;
    left: 24px;
  }
  
  .frame .overlap-7 {
    position: absolute;
    width: 182px;
    height: 62px;
    top: 6px;
    left: 0;
  }
  
  .frame .i-3 {
    width: 40px;
    top: 0;
    left: 71px;
    position: absolute;
    height: 42px;
    border: 0px none;
  }
  
  .frame .svg-3 {
    width: 40px;
    display: flex;
    height: 36px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2px;
  }
  
  .frame .div-9 {
    position: relative;
    width: 40.5px;
    height: 36px;
    border: 0px none;
  }
  
  .frame .h-4 {
    top: 38px;
    position: absolute;
    width: 182px;
    height: 24px;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-7 {
    position: absolute;
    width: 86px;
    top: -10px;
    left: 7px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .vector-5 {
    position: absolute;
    width: 40px;
    height: 27px;
    top: 0;
    left: 30px;
  }
  
  .frame .section {
    height: 316px;
    top: 664px;
    position: absolute;
    width: 390px;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-8 {
    position: absolute;
    width: 129px;
    top: 13px;
    left: 16px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 18px;
  }
  
  .frame .div-10 {
    position: absolute;
    width: 358px;
    height: 252px;
    top: 52px;
    left: 16px;
    border: 0px none;
  }
  
  .frame .div-11 {
    position: absolute;
    width: 173px;
    height: 252px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 12px;
    border: 0px none;
    box-shadow: 0px 1px 2px #0000000d;
  }
  
  .frame .img-3 {
    position: absolute;
    width: 157px;
    height: 140px;
    top: 8px;
    left: 8px;
    border-radius: 8px;
    border: 0px none;
    background-image: url(naruto\ 1.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .div-12 {
    position: absolute;
    width: 157px;
    height: 96px;
    top: 148px;
    left: 8px;
    border: 0px none;
  }
  
  .frame .overlap-8 {
    position: absolute;
    width: 115px;
    height: 35px;
    top: 12px;
    left: 0;
  }
  
  .frame .text-wrapper-9 {
    position: absolute;
    width: 115px;
    top: 0;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .frame .text-wrapper-10 {
    position: absolute;
    width: 87px;
    top: 18px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #6b7280;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 12px;
  }
  
  .frame .overlap-group-3 {
    position: absolute;
    width: 157px;
    height: 43px;
    top: 53px;
    left: 0;
  }
  
  .frame .div-13 {
    position: absolute;
    width: 157px;
    height: 24px;
    top: 19px;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-11 {
    width: 55px;
    top: 0;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #7c3aed;
    letter-spacing: 0;
  }
  
  .frame .div-14 {
    position: absolute;
    width: 173px;
    height: 252px;
    top: 0;
    left: 185px;
    background-color: #ffffff;
    border-radius: 12px;
    border: 0px none;
    box-shadow: 0px 1px 2px #0000000d;
  }
  
  .frame .img-4 {
    position: absolute;
    width: 157px;
    height: 140px;
    top: 8px;
    left: 8px;
    border-radius: 8px;
    border: 0px none;
    background-image: url(naruto\ 2.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .div-15 {
    position: absolute;
    width: 157px;
    height: 76px;
    top: 148px;
    left: 8px;
    border: 0px none;
  }
  
  .frame .overlap-group-4 {
    position: absolute;
    width: 135px;
    height: 36px;
    top: 8px;
    left: 0;
  }
  
  .frame .text-wrapper-12 {
    position: absolute;
    width: 135px;
    top: 0;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .frame .collector-s-edition {
    position: absolute;
    width: 106px;
    top: 19px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #6b7280;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 12px;
  }
  
  .frame .div-16 {
    position: absolute;
    width: 157px;
    height: 24px;
    top: 52px;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-13 {
    width: 54px;
    top: 0;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #7c3aed;
    letter-spacing: 0;
  }
  
  .frame .group {
    position: absolute;
    width: 94px;
    height: 19px;
    top: 30px;
    left: 272px;
  }
  
  .frame .overlap-9 {
    position: relative;
    width: 92px;
    height: 19px;
  }
  
  .frame .vector-wrapper {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 81px;
  }
  
  .frame .vector-6 {
    top: -1px;
    left: 0;
    position: absolute;
    width: 13px;
    height: 12px;
  }
  
  .frame .section-2 {
    height: 308px;
    top: 981px;
    position: absolute;
    width: 390px;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-14 {
    position: absolute;
    width: 127px;
    top: 13px;
    left: 16px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 18px;
  }
  
  .frame .div-17 {
    position: absolute;
    width: 358px;
    height: 244px;
    top: 52px;
    left: 16px;
    overflow: hidden;
    border: 0px none;
  }
  
  .frame .div-18 {
    position: absolute;
    width: 128px;
    height: 236px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 12px;
    border: 0px none;
    box-shadow: 0px 1px 2px #0000000d;
  }
  
  .frame .img-5 {
    position: absolute;
    width: 112px;
    height: 160px;
    top: 8px;
    left: 8px;
    border-radius: 8px;
    border: 0px none;
    background-image: url(one\ piece.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .overlap-group-5 {
    position: absolute;
    width: 112px;
    height: 59px;
    top: 168px;
    left: 8px;
  }
  
  .frame .div-19 {
    position: absolute;
    width: 112px;
    height: 44px;
    top: 0;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-15 {
    position: absolute;
    width: 104px;
    top: 7px;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 12px;
  }
  
  .frame .text-wrapper-16 {
    width: 44px;
    top: 39px;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #7c3aed;
    letter-spacing: 0;
  }
  
  .frame .div-20 {
    position: absolute;
    width: 128px;
    height: 236px;
    top: 0;
    left: 140px;
    background-color: #ffffff;
    border-radius: 12px;
    border: 0px none;
    box-shadow: 0px 1px 2px #0000000d;
  }
  
  .frame .img-6 {
    position: absolute;
    width: 112px;
    height: 160px;
    top: 8px;
    left: 8px;
    border-radius: 8px;
    border: 0px none;
    background-image: url(home\ product\ 3.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .div-21 {
    position: absolute;
    width: 112px;
    height: 60px;
    top: 168px;
    left: 8px;
    border: 0px none;
  }
  
  .frame .text-wrapper-17 {
    position: absolute;
    width: 111px;
    top: 11px;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 12px;
  }
  
  .frame .text-wrapper-18 {
    width: 44px;
    top: 40px;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #7c3aed;
    letter-spacing: 0;
  }
  
  .frame .div-22 {
    position: absolute;
    width: 128px;
    height: 236px;
    top: 0;
    left: 280px;
    background-color: #ffffff;
    border-radius: 12px;
    border: 0px none;
    box-shadow: 0px 1px 2px #0000000d;
  }
  
  .frame .img-7 {
    position: absolute;
    width: 112px;
    height: 160px;
    top: 8px;
    left: 8px;
    border-radius: 8px;
    border: 0px none;
    background-image: url(hom\ product\ 4.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .text-wrapper-19 {
    position: absolute;
    width: 67px;
    top: 11px;
    left: 0;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 12px;
  }
  
  .frame .group-2 {
    position: absolute;
    width: 94px;
    height: 19px;
    top: 26px;
    left: 269px;
  }
  
  .frame .overlap-10 {
    position: relative;
    width: 93px;
    height: 19px;
  }
  
  .frame .header {
    position: absolute;
    width: 409px;
    height: 64px;
    top: 0;
    left: 0;
    background-color: #7c3aed;
    border: 0px none;
    box-shadow: 0px 1px 2px #0000000d;
  }
  
  .frame .logo-wrapper {
    position: relative;
    width: 390px;
    height: 64px;
    border: 0px none;
  }
  
  .frame .logo {
    position: absolute;
    width: 228px;
    height: 46px;
    top: 12px;
    left: 80px;
    object-fit: cover;
  }
  
  .frame .nav {
    position: absolute;
    width: 390px;
    height: 59px;
    top: 1293px;
    left: 0;
    background-color: #ffffff;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #e5e7eb;
  }
  
  .frame .div-23 {
    position: relative;
    height: 52px;
    top: 1px;
    border: 0px none;
  }
  
  .frame .div-24 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 8px;
    left: 28px;
    border: 0px none;
  }
  
  .frame .frame-wrapper-3 {
    display: flex;
    width: 18px;
    height: 16px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 9px;
  }
  
  .frame .div-25 {
    position: relative;
    width: 18px;
    height: 16px;
    border: 0px none;
  }
  
  .frame .text-wrapper-20 {
    width: 36px;
    top: 26px;
    left: 20px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    color: #000000;
    letter-spacing: 0;
  }
  
  .frame .vector-7 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 8px;
    left: 54px;
  }
  
  .frame .div-26 {
    position: absolute;
    width: 43px;
    height: 36px;
    top: 8px;
    left: 121px;
    border: 0px none;
  }
  
  .frame .frame-wrapper-4 {
    display: flex;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 14px;
  }
  
  .frame .text-wrapper-21 {
    position: absolute;
    width: 43px;
    top: 34px;
    left: 175px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 12px;
  }
  
  .frame .vector-8 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 9px;
    left: 187px;
  }
  
  .frame .div-27 {
    position: absolute;
    width: 47px;
    height: 36px;
    top: 8px;
    left: 221px;
    border: 0px none;
  }
  
  .frame .frame-wrapper-5 {
    display: flex;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 15px;
  }
  
  .frame .vector-9 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 9px;
    left: 315px;
  }
  
  .frame .text-wrapper-22 {
    position: absolute;
    width: 46px;
    top: 35px;
    left: 302px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12px;
  }
  