.frame {
    display: inline-flex;
    flex-direction: column;
    height: 1923px;
    align-items: flex-start;
    position: relative;
    background-color: #ffffff;
  }
  
  .frame .body {
    position: relative;
    width: 1440px;
    height: 1923px;
    border: 0px none;
  }
  
  .frame .div {
    position: absolute;
    width: 1440px;
    height: 974px;
    top: 0;
    left: 0;
    background-color: #f9fafb;
    border: 0px none;
  }
  
  .frame .main {
    position: relative;
    height: 993px;
    left: -21px;
    border: 0px none;
  }
  
  .frame .div-2 {
    position: absolute;
    width: 1280px;
    height: 865px;
    top: 80px;
    left: 80px;
    border: 0px none;
  }
  
  .frame .div-wrapper {
    position: absolute;
    width: 1248px;
    height: 52px;
    top: 0;
    left: 16px;
    border: 0px none;
  }
  
  .frame .div-3 {
    position: relative;
    height: 20px;
    top: 16px;
    border: 0px none;
  }
  
  .frame .text-wrapper {
    width: 42px;
    top: 0;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    color: #4b5563;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .frame .img {
    position: absolute;
    width: 8px;
    height: 12px;
    top: 2px;
    left: 50px;
  }
  
  .frame .text-wrapper-2 {
    position: absolute;
    width: 51px;
    top: 0;
    left: 66px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .frame .img-2 {
    position: absolute;
    width: 8px;
    height: 12px;
    top: 1px;
    left: 125px;
  }
  
  .frame .vector {
    position: absolute;
    width: 6px;
    height: 11px;
    top: 2px;
    left: 201px;
  }
  
  .frame .text-wrapper-3 {
    width: 53px;
    top: 0;
    left: 140px;
    color: #4b5563;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .frame .text-wrapper-4 {
    position: absolute;
    width: 286px;
    top: 0;
    left: 215px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .frame .div-4 {
    position: absolute;
    width: 1248px;
    height: 813px;
    top: 52px;
    left: 16px;
    border: 0px none;
  }
  
  .frame .div-5 {
    position: absolute;
    width: 600px;
    height: 813px;
    top: 0;
    left: 0;
    border: 0px none;
  }
  
  .frame .img-wrapper {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    border: 0px none;
  }
  
  .frame .main-display {
    position: relative;
    width: 610px;
    height: 615px;
    top: -15px;
    left: -10px;
    border: 0px none;
    background-image: url(naruto\ 1.png);
    background-size:cover;
    background-position: 50% 50%;
    
  }
  
  
  
  .frame .vector-2 {
    position: absolute;
    width: 25px;
    height: 42px;
    top: 278px;
    left: 568px;
  }
  
  .frame .vector-3 {
    position: absolute;
    width: 25px;
    height: 42px;
    top: 278px;
    left: 26px;
  }
  
  .frame .div-10 {
    position: absolute;
    width: 600px;
    height: 138px;
    top: 616px;
    left: 0;
    border: 0px none;
  }
  
  .frame .button {
    position: absolute;
    width: 138px;
    height: 138px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid;
    border-color: #7c3aed;
  }
  
  .frame .img-4 {
    height: 138px;
    border: 0px none;
    background-image: url(./img/img-4.png);
    background-size: cover;
    background-position: 50% 50%;
  }



  .frame .button-2 {
    position: absolute;
    width: 138px;
    height: 138px;
    top: 0;
    left: 154px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: #e5e7eb;
  }
  
  .frame .img-5 {
    position: absolute;
    width: 136px;
    height: 136px;
    top: 1px;
    left: 1px;
    object-fit: cover;
  }
  
  .frame .button-3 {
    position: absolute;
    width: 138px;
    height: 138px;
    top: 0;
    left: 308px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: #e5e7eb;
  }
  
  .frame .img-6 {
    position: absolute;
    width: 138px;
    height: 138px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .frame .button-4 {
    position: absolute;
    width: 138px;
    height: 138px;
    top: 0;
    left: 462px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: #e5e7eb;
  }
  
  .frame .div-11 {
    position: absolute;
    width: 600px;
    height: 813px;
    top: 0;
    left: 648px;
    border: 0px none;
  }
  
  .frame .div-12 {
    position: absolute;
    width: 600px;
    height: 68px;
    top: 0;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-5 {
    position: absolute;
    width: 529px;
    top: -4px;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #111827;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 30px;
  }
  
  .frame .div-13 {
    position: absolute;
    width: 600px;
    height: 24px;
    top: 44px;
    left: 0;
    border: 0px none;
  }
  
  .frame .div-14 {
    position: absolute;
    width: 90px;
    height: 16px;
    top: 4px;
    left: 0;
    border: 0px none;
  }
  
  .frame .frame-wrapper {
    display: flex;
    width: 18px;
    height: 16px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .frame .img-7 {
    position: relative;
    width: 18px;
    height: 16px;
  }
  
  .frame .frame-wrapper-2 {
    display: flex;
    width: 18px;
    height: 16px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 18px;
  }
  
  .frame .frame-wrapper-3 {
    display: flex;
    width: 18px;
    height: 16px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 36px;
  }
  
  .frame .frame-wrapper-4 {
    display: flex;
    width: 18px;
    height: 16px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 54px;
  }
  
  .frame .frame-wrapper-5 {
    display: flex;
    width: 18px;
    height: 16px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 72px;
  }
  
  .frame .text-wrapper-6 {
    position: absolute;
    width: 103px;
    top: 0;
    left: 106px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .div-15 {
    position: absolute;
    width: 600px;
    height: 36px;
    top: 92px;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-7 {
    width: 113px;
    top: -4px;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #111827;
    font-size: 30px;
    line-height: 30px;
    position: absolute;
    letter-spacing: 0;
  }
  
  .frame .text-wrapper-8 {
    width: 67px;
    top: 5px;
    left: 128px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #6b7280;
    font-size: 18px;
    line-height: 18px;
    text-decoration: line-through;
    position: absolute;
    letter-spacing: 0;
  }
  
  .frame .span {
    position: absolute;
    width: 87px;
    height: 28px;
    top: 4px;
    left: 212px;
    background-color: #fee2e2;
    border-radius: 9999px;
    border: 0px none;
  }
  
  .frame .text-wrapper-9 {
    position: absolute;
    width: 75px;
    top: 4px;
    left: 12px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #dc2626;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .div-16 {
    position: absolute;
    width: 600px;
    height: 72px;
    top: 152px;
    left: 0;
    border: 0px none;
  }
  
  .frame .p {
    position: absolute;
    width: 596px;
    top: 8px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .div-17 {
    position: absolute;
    width: 600px;
    height: 120px;
    top: 248px;
    left: 0;
    border: 0px none;
  }
  
  .frame .div-18 {
    position: relative;
    height: 120px;
    border: 0px none;
  }
  
  .frame .div-19 {
    position: absolute;
    width: 292px;
    height: 52px;
    top: 0;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-10 {
    position: absolute;
    width: 46px;
    top: 0;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .frame .text-wrapper-11 {
    position: absolute;
    width: 148px;
    top: 28px;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #111827;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .div-20 {
    position: absolute;
    width: 292px;
    height: 52px;
    top: 0;
    left: 308px;
    border: 0px none;
  }
  
  .frame .text-wrapper-12 {
    position: absolute;
    width: 57px;
    top: 0;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .frame .text-wrapper-13 {
    position: absolute;
    width: 72px;
    top: 28px;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #111827;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .div-21 {
    position: absolute;
    width: 292px;
    height: 52px;
    top: 68px;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-14 {
    position: absolute;
    width: 96px;
    top: 0;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .frame .text-wrapper-15 {
    position: absolute;
    width: 111px;
    top: 28px;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #111827;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .div-22 {
    position: absolute;
    width: 292px;
    height: 52px;
    top: 68px;
    left: 308px;
    border: 0px none;
  }
  
  .frame .text-wrapper-16 {
    position: absolute;
    width: 92px;
    top: 0;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .frame .text-wrapper-17 {
    position: absolute;
    width: 95px;
    top: 28px;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #111827;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .div-23 {
    position: absolute;
    width: 600px;
    height: 146px;
    top: 392px;
    left: 0;
    border: 0px none;
  }
  
  .frame .div-24 {
    position: relative;
    height: 60px;
    top: 13px;
    border: 0px none;
  }
  
  .frame .label {
    position: absolute;
    width: 76px;
    height: 20px;
    top: 0;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-18 {
    position: absolute;
    width: 76px;
    top: 0;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #111827;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .div-25 {
    position: absolute;
    width: 600px;
    height: 32px;
    top: 28px;
    left: 0;
    border: 0px none;
  }
  
  .frame .button-5 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    background-color: #000000;
    border-radius: 9999px;
    border: 3px solid;
    border-color: #0075ff;
    box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #000000;
  }
  
  .frame .button-6 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 44px;
    background-color: #e5e7eb;
    border-radius: 9999px;
    border: 2px solid;
    border-color: #ffffff;
  }
  
  .frame .button-7 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 88px;
    background-color: #fdba74;
    border-radius: 9999px;
    border: 2px solid;
    border-color: #ffffff;
  }
  
  .frame .overlap-group {
    position: absolute;
    width: 600px;
    height: 274px;
    top: 562px;
    left: 0;
  }
  
  .frame .div-26 {
    position: absolute;
    width: 600px;
    height: 98px;
    top: 0;
    left: 0;
    border: 0px none;
  }
  
  .frame .div-27 {
    position: relative;
    height: 40px;
    border: 0px none;
  }
  
  .frame .div-28 {
    position: absolute;
    width: 142px;
    height: 34px;
    top: 3px;
    left: 0;
    border-radius: 8px;
    border: 1px solid;
    border-color: #e5e7eb;
  }
  
  .frame .button-8 {
    position: absolute;
    width: 46px;
    height: 32px;
    top: 1px;
    left: 1px;
    border: 0px none;
  }
  
  .frame .frame-wrapper-6 {
    display: flex;
    width: 14px;
    height: 16px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 8px;
    left: 16px;
  }
  
  .frame .img-8 {
    position: relative;
    width: 14px;
    height: 16px;
  }
  
  .frame .input {
    position: absolute;
    width: 48px;
    height: 24px;
    top: 5px;
    left: 47px;
    background-color: #ffffff;
    border-right-width: 1px;
    border-right-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: #e5e7eb;
  }
  
  .frame .text-wrapper-19 {
    position: absolute;
    width: 6px;
    top: -1px;
    left: 21px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .frame .button-9 {
    position: absolute;
    width: 46px;
    height: 32px;
    top: 1px;
    left: 95px;
    border: 0px none;
  }
  
  .frame .button-10 {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 442px;
    height: 54px;
    top: -14px;
    left: 158px;
    background-color: #7c3aed;
    border-radius: 8px;
    border: 0px none;
  }
  
  .frame .text-wrapper-20 {
    position: absolute;
    width: 92px;
    top: 15px;
    left: 175px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .div-29 {
    position: absolute;
    width: 600px;
    height: 211px;
    top: 63px;
    left: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #e5e7eb;
  }
  
  .frame .div-30 {
    position: absolute;
    width: 600px;
    height: 24px;
    top: 55px;
    left: 0;
    border: 0px none;
  }
  
  .frame .frame-wrapper-7 {
    display: flex;
    width: 25px;
    height: 20px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 0;
  }
  
  .frame .img-9 {
    position: relative;
    width: 25px;
    height: 20px;
  }
  
  .frame .text-wrapper-21 {
    position: absolute;
    width: 260px;
    top: 2px;
    left: 37px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .div-31 {
    position: absolute;
    width: 600px;
    height: 24px;
    top: 90px;
    left: 0;
    border: 0px none;
  }
  
  .frame .frame-wrapper-8 {
    display: flex;
    width: 18px;
    height: 20px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    left: 0;
  }
  
  .frame .img-10 {
    position: relative;
    width: 17.5px;
    height: 20px;
  }
  
  .frame .text-wrapper-22 {
    position: absolute;
    width: 234px;
    top: 3px;
    left: 38px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #4b5563;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .text-wrapper-23 {
    position: absolute;
    width: 156px;
    top: 18px;
    left: -3px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .div-32 {
    position: absolute;
    width: 1441px;
    height: 604px;
    top: 974px;
    left: 21px;
    background-color: #f9fafb;
    box-shadow: inset 0px 1px 4px #00000040;
  }
  
  .frame .group {
    position: absolute;
    width: 1440px;
    height: 79px;
    top: 0;
    left: 24px;
    background-color: #7c3aed;
  }
  
  .frame .logo {
    position: absolute;
    width: 228px;
    height: 46px;
    top: 16px;
    left: 606px;
    object-fit: cover;
  }
  
  .frame .vector-4 {
    position: absolute;
    width: 18px;
    height: 15px;
    top: 34px;
    left: 33px;
  }
  
  .frame .vector-wrapper {
    position: absolute;
    width: 18px;
    height: 16px;
    top: 34px;
    left: 1364px;
  }
  
  .frame .vector-5 {
    position: absolute;
    width: 18px;
    height: 16px;
    top: 0;
    left: 0;
  }
  
  .frame .text-wrapper-24 {
    position: absolute;
    width: 239px;
    top: 1084px;
    left: 75px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .frame .footer {
    position: absolute;
    width: 1440px;
    height: 345px;
    top: 1578px;
    left: 3px;
    background-color: #1f2937;
    border: 0px none;
  }
  
  .frame .div-33 {
    position: relative;
    width: 1280px;
    height: 249px;
    top: 48px;
    left: 80px;
    border: 0px none;
  }
  
  .frame .div-34 {
    position: absolute;
    width: 1248px;
    height: 160px;
    top: 0;
    left: 16px;
    border: 0px none;
  }
  
  .frame .div-35 {
    position: absolute;
    width: 288px;
    height: 160px;
    top: 0;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-25 {
    position: absolute;
    width: 249px;
    top: 1px;
    left: 0;
    font-family: "Quicksand-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 20px;
  }
  
  .frame .text-wrapper-26 {
    position: absolute;
    width: 260px;
    top: 50px;
    left: 0;
    font-family: "Quicksand-Regular", Helvetica;
    font-weight: 400;
    color: #9ca3af;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .div-36 {
    position: absolute;
    width: 288px;
    height: 160px;
    top: 0;
    left: 320px;
    border: 0px none;
  }
  
  .frame .text-wrapper-27 {
    position: absolute;
    width: 84px;
    top: 2px;
    left: 0;
    font-family: "Quicksand-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .ul {
    position: absolute;
    width: 288px;
    height: 120px;
    top: 40px;
    left: 0;
    border: 0px none;
  }
  
  .frame .li {
    top: 0;
    position: absolute;
    width: 288px;
    height: 24px;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-28 {
    position: absolute;
    width: 68px;
    top: 2px;
    left: 0;
    font-family: "Quicksand-Regular", Helvetica;
    font-weight: 400;
    color: #9ca3af;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .li-2 {
    top: 32px;
    position: absolute;
    width: 288px;
    height: 24px;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-29 {
    width: 59px;
    top: 2px;
    left: 0;
    font-family: "Quicksand-Regular", Helvetica;
    color: #9ca3af;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .frame .li-3 {
    top: 64px;
    position: absolute;
    width: 288px;
    height: 24px;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-30 {
    position: absolute;
    width: 39px;
    top: 2px;
    left: 0;
    font-family: "Quicksand-Regular", Helvetica;
    font-weight: 400;
    color: #9ca3af;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .li-4 {
    top: 96px;
    position: absolute;
    width: 288px;
    height: 24px;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-31 {
    position: absolute;
    width: 97px;
    top: 2px;
    left: 0;
    font-family: "Quicksand-Regular", Helvetica;
    font-weight: 400;
    color: #9ca3af;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .div-37 {
    position: absolute;
    width: 288px;
    height: 160px;
    top: 0;
    left: 640px;
    border: 0px none;
  }
  
  .frame .text-wrapper-32 {
    position: absolute;
    width: 80px;
    top: 2px;
    left: 0;
    font-family: "Quicksand-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .text-wrapper-33 {
    position: absolute;
    width: 105px;
    top: 2px;
    left: 0;
    font-family: "Quicksand-Regular", Helvetica;
    font-weight: 400;
    color: #9ca3af;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .text-wrapper-34 {
    width: 52px;
    top: 2px;
    left: 0;
    font-family: "Quicksand-Regular", Helvetica;
    color: #9ca3af;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .frame .text-wrapper-35 {
    position: absolute;
    width: 87px;
    top: 2px;
    left: 0;
    font-family: "Quicksand-Regular", Helvetica;
    font-weight: 400;
    color: #9ca3af;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .div-38 {
    position: absolute;
    width: 288px;
    height: 160px;
    top: 0;
    left: 960px;
    border: 0px none;
  }
  
  .frame .text-wrapper-36 {
    position: absolute;
    width: 71px;
    top: 2px;
    left: 0;
    font-family: "Quicksand-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .div-39 {
    position: absolute;
    width: 288px;
    height: 20px;
    top: 40px;
    left: 0;
    border: 0px none;
  }
  
  .frame .div-40 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border: 0px none;
  }
  
  .frame .frame-wrapper-9 {
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .frame .img-11 {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .frame .div-41 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 36px;
    border: 0px none;
  }
  
  .frame .div-42 {
    position: absolute;
    width: 18px;
    height: 20px;
    top: 0;
    left: 72px;
    border: 0px none;
  }
  
  .frame .frame-wrapper-10 {
    display: flex;
    width: 18px;
    height: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .frame .div-43 {
    position: absolute;
    width: 25px;
    height: 20px;
    top: 0;
    left: 106px;
    border: 0px none;
  }
  
  .frame .frame-wrapper-11 {
    display: flex;
    width: 25px;
    height: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .frame .div-44 {
    position: absolute;
    width: 1248px;
    height: 57px;
    top: 192px;
    left: 16px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #374151;
  }
  
  .frame .text-wrapper-37 {
    position: absolute;
    width: 419px;
    top: 34px;
    left: 408px;
    font-family: "Quicksand-Regular", Helvetica;
    font-weight: 400;
    color: #9ca3af;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .div-45 {
    position: absolute;
    width: 304px;
    height: 324px;
    top: 1168px;
    left: 406px;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    border: 0px none;
    box-shadow: 0px 1px 2px #0000000d;
  }
  
  .frame .mask-group {
    position: absolute;
    width: 304px;
    height: 192px;
    top: 0;
    left: 0;
  }

  .frame .mask-group1 {
    position: absolute;
    left: 70px;
  }
  
  .frame .div-46 {
    position: absolute;
    width: 304px;
    height: 132px;
    top: 192px;
    left: 0;
    border: 0px none;
  }
  
  .frame .text-wrapper-38 {
    width: 154px;
    top: 18px;
    left: 16px;
    color: #000000;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .frame .text-wrapper-39 {
    position: absolute;
    width: 120px;
    top: 45px;
    left: 16px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #6b7280;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
  }
  
  .frame .div-47 {
    position: absolute;
    width: 272px;
    height: 40px;
    top: 76px;
    left: 16px;
    border: 0px none;
  }
  
  .frame .text-wrapper-40 {
    width: 78px;
    top: 10px;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #7c3aed;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    letter-spacing: 0;
  }
  
  .frame .button-11 {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 119px;
    height: 40px;
    top: 0;
    left: 153px;
    background-color: #7c3aed;
    border-radius: 8px;
    border: 0px none;
  }
  
  .frame .text-wrapper-41 {
    position: absolute;
    width: 119px;
    top: 10px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .div-48 {
    position: absolute;
    width: 304px;
    height: 324px;
    top: 1168px;
    left: 78px;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    border: 0px none;
    box-shadow: 0px 1px 2px #0000000d;
  }
  
  .frame .div-49 {
    position: absolute;
    width: 304px;
    height: 324px;
    top: 1168px;
    left: 734px;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    border: 0px none;
    box-shadow: 0px 1px 2px #0000000d;
  }
  
  .frame .text-wrapper-42 {
    position: absolute;
    width: 186px;
    top: 18px;
    left: 16px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .text-wrapper-43 {
    width: 69px;
    top: 45px;
    left: 16px;
    font-family: "Poppins-Regular", Helvetica;
    color: #6b7280;
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .frame .text-wrapper-44 {
    width: 70px;
    top: 10px;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #7c3aed;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    letter-spacing: 0;
  }
  
  .frame .div-50 {
    position: absolute;
    width: 304px;
    height: 324px;
    top: 1168px;
    left: 1062px;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    border: 0px none;
    box-shadow: 0px 1px 2px #0000000d;
  }
  
  .frame .text-wrapper-45 {
    position: absolute;
    width: 195px;
    top: 18px;
    left: 16px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
  }
  
  .frame .text-wrapper-46 {
    width: 92px;
    top: 10px;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #7c3aed;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    letter-spacing: 0;
  }
  